*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: lightgreen;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(247, 247, 100);
    padding: 10px 30px;
    border-radius: 20px;
}

.container .numGen{
    display: flex;
    margin: 10px;
}

.container h1{
    flex-wrap: wrap;
}

.container .numGen input{
    margin-left: 10px;
    background-color: rgb(173, 227, 173);
    border: 1px solid green;
    border-radius: 5px;
}

.container .btnRand{
    margin-left: 10px;
}

.container .selectRand{
    margin: 10px;
}

.container .selectRand select{
    width: 50px;
    background-color: rgb(173, 227, 173);
    border: 1px solid green;
    border-radius: 5px;;
}

@media (max-width: 540px) {
    .container .numGen{
        flex-direction: column;
        gap:10px;
    }

    .container .numGen{
        flex-direction: column;
    }
}

@media (max-width: 452px) {
    .container{
        align-items: flex-start;
        justify-content: start;
        text-align: start;
    }

    .container .numGen, .container .numGen input, .container .selectRand, .container .btnRand{
        flex-direction: column;
        margin-left: 0;
    }

    .containter .numGen{
        margin: 0 10px;
    }

    .container .selectRand select{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 110px;
        margin-top: 20px;
    }
}

.container .btnRand button:hover{
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(84, 161, 84);
}

.container .btnRand button{
    color: rgb(0, 0, 0);
    border-radius: 25px;
    background-color: lightgreen;
    outline: none;
    border: 0;
    padding: 15px 30px;
    overflow: hidden;
    transition: all 0.5s;
}

.container .btnRand button:hover:before{
    opacity: 1;
    transform: translate(0,0);
}

.container .btnRand button:before{
    text-transform: uppercase;
}